body {
    font-family: Arial, sans-serif;
    padding: 20px;
    background-color: #6c63ff;
  }
  
  h1 {
    text-align: center;
  }
  
  form {
    margin-bottom: 20px;
  }
  
  label {
    font-weight: bold;
  }
  
  input[type="text"] {
    width: 300px;
    padding: 5px;
      font-size: 1em;
      padding: 0.6em 1em;
      border: none;
      border-radius: 6px;
      background-color: #f8f8f8;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      transition: background-color 0.3s ease, box-shadow 0.3s ease;
      max-width: 200px;
      color: #333;
    }
    
    .input:hover {
      background-color: #f2f2f2;
    }
    
    .input:focus {
      outline: none;
      background-color: #fff;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }
    
    .input::placeholder {
      color: #999;
    }
    
    .highlight {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 0;
      height: 2px;
      background-color: #6c63ff;
      transition: width 0.3s ease;
    }
    
    .input:focus + .highlight {
      width: 100%;
    }
    
    @keyframes input-focus {
      from {
        transform: scale(1);
        box-shadow: 0 0 0 rgba(0, 0, 0, 0.1);
      }
    
      to {
        transform: scale(1.02);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      }
    }
    
    .input:focus {
      animation: input-focus 0.3s ease;
    }
  
  
  
button {
  padding: 5px 10px;
  border: unset;
  border-radius: 15px;
  color: #212121;
  z-index: 1;
  background: #e8e8e8;
  position: relative;
  font-weight: 1000;
  font-size: 17px;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
  box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
  transition: all 250ms;
  overflow: hidden;
  }
  
  button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  border-radius: 15px;
  background-color: #212121;
  z-index: -1;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
  box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
  transition: all 250ms
  }
  
  button:hover {
  color: #e8e8e8;
  }
  
  button:hover::before {
  width: 100%;
  }
    
  
  
  #movie-info {
    margin-top: 20px;
  }
  
  #movie-info img {
    max-width: 200px;
    margin-top: 10px;
  }